<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        <section class="headersection">
            <%- include('_header') %>
        </section>

        <section class="middlesection">
            <%- body %>
        </section>

        <section class="footersection"> 
            <%- include('_footer') %>
        </section>

        <%- script %>
    </body>
</html>